
<%= javascript_include_tag 'jquery.min' %>

<style>

.input-row{
  text-align: center;
  margin:4px;
  font-size: 16px;
}
.sinput_tip{
  font-size:12px;
}
.sinput
{
    border:1px solid #ccc;
    padding:4px;
    border-radius: 4px;
}

.submit-btn
{
  padding:4px;
  border-radius: 4px;
  border:1px solid red;
  color:red;
}

.code-btn
{
  border:1px solid #CCCCCC;
  padding:4px;
  color:white;
  background-color: #CCCCCC;
}

</style>

<div>
<div id="login_div">
  <form>
    <div class="input-row">
      <span class="sinput_tip">手机号:</span>
      <input  id="phone1" placeholder="手机号" class="sinput" />
    </div>

    <div class="input-row">
      <span class="sinput_tip">密&nbsp&nbsp&nbsp码:</span>
      <input  id="password1" placeholder="密码" class="sinput" />
    </div>


    <div class="input-row" style="width:80%;text-align: center;margin:auto;margin-top: 10px;">
      <div class="submit-btn login-btn" style="margin:auto">登录</div>

      <div id="show-register-btn" class="submit-btn " style="marginTop:10px;margin:auto">还没有账号注册一个吧~</div>
    </div>

  </form>
</div>


<div id="register_div" style="display: none">
  <form>
    <div class="input-row">
      <span class="sinput_tip">手机号:</span>
      <input id="phone2"  placeholder="手机号" class="sinput" />
    </div>

    <div class="input-row">
      <span class="sinput_tip">密&nbsp&nbsp&nbsp码:</span>
      <input id="password2"  placeholder="密码" class="sinput" />
    </div>

    <div class="input-row" style="margin-top: 10px">
      <input id="code" placeholder="验证码" class="sinput" style="width:90px"/>
      <input id="code-btn"  class="code-btn" type="button" value="获取验证码"></input>

    </div>

    <div class="input-row" style="width:80%;text-align: center;margin:auto;margin-top: 10px;">
      <div class="submit-btn register-btn" style="margin:auto">注册</div>

      <div id="show-login-btn" class="submit-btn " style="marginTop:10px;margin:auto">返回登录页面~</div>

    </div>
  </form>
</div>
</div>

<script>




  $(function(){

      function settime(obj,countdown) {
          if (countdown == 0) {
              $(obj).attr("disabled",false);
              $(obj).val("获取验证码");
              countdown = 60;
              return;
          } else {
              $(obj).attr("disabled",true);
              $(obj).val( countdown+"秒后重新发送");
              countdown--;
          }
          setTimeout(function() {
                  settime(obj,countdown) }
              ,1000)
      }

      function invokeSettime(obj){
          var countdown=60;
          settime(obj,countdown);
      }


      $(".register-btn").on("click",function(){

          var data = {
              username:$("#phone2").val(),
              password:$("#password2").val(),
              code:$("#code").val()
          }

          //alert(JSON.stringify(data));

          //return;

          $.ajax({
              url:'register.json',
              type:'POST', //GET
              async:true,    //或false,是否异步
              data:data,
              timeout:5000,    //超时时间
              dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
              beforeSend:function(xhr){
                  console.log(xhr)
                  console.log('发送前')
              },
              success:function(data,textStatus,jqXHR){
                  console.log(data)
                  //错误
                  if(!data || data.status !=1 )
                  {
                      if(data.msg)
                      {
                          alert(data.msg);
                      }
                      else
                      {
                          alert("发生了未知错误");
                      }
                  }
                  else
                  {
                      window.location.href="http://<%=BUtils.domain+":3000/home"%>";
                  }


                  //成功；
                  //alert("成功")
              },
              error:function(data){
                alert("发生了错误未知错误");
              },
              complete:function(){
                  console.log('结束')
              }
          })
      });


      $(".login-btn").on("click",function(){

          var data = {
              username:$("#phone1").val(),
              password:$("#password1").val()
          }

          $.ajax({
              url:'login.json',
              type:'POST', //GET
              async:true,    //或false,是否异步
              data:data,
              timeout:5000,    //超时时间
              dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
              beforeSend:function(xhr){
                  console.log(xhr)
                  console.log('发送前')
              },
              success:function(data,textStatus,jqXHR){
                  console.log(data)
                  //错误
                  if(!data || data.status !=1 )
                  {
                      if(data.msg)
                      {
                          alert(data.msg);
                      }
                      else
                      {
                          alert("发生了未知错误");
                      }
                  }
                  else
                  {
                      window.location.href="http://<%=BUtils.domain+":3000/home"%>";
                  }

                  //成功；
                 // alert("成功")
              },
              error:function(data){
                  alert("发生了错误未知错误");
              },
              complete:function(){
                  console.log('结束')
              }
          })
      });



      $("#code-btn").on("click",function(){

          var data = {
              username:$("#phone2").val(),
              code:$("#code").val()
          }

          var that = this;
          $.ajax({
              url:'ensure_code.json',
              type:'POST', //GET
              async:true,    //或false,是否异步
              data:data,
              timeout:5000,    //超时时间
              dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
              beforeSend:function(xhr){
                  console.log(xhr)
                  console.log('发送前')
              },
              success:function(data,textStatus,jqXHR){
                  console.log(data)
                  //错误
                  if(!data || data.status !=1 )
                  {
                      if(data.msg)
                      {
                          alert(data.msg);
                      }
                      else
                      {
                          alert("发生了未知错误");
                      }
                  }
                  else
                  {
                     invokeSettime(that);

                  }

                  //成功；
                  // alert("成功")

              },
              error:function(data){
                  alert("发生了错误未知错误");
              },
              complete:function(){
                  console.log('结束')
              }
          })
      });



     function show_register()
     {
         $("#login_div").hide();
         $("#register_div").show();
     }

      function show_login()
      {
          $("#login_div").show();
          $("#register_div").hide();
      }

      $("#show-register-btn").on("click",function(){
         show_register();
      });


      $("#show-login-btn").on("click",function(){
          show_login();
      });



  })




</script>

